@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --font-Montserrat: 'Montserrat', sans-serif;
    --min-width: 320px;
    --max-width: 1024px;
    --primary-text-color: #4E5150;
    --orange-color: #F2994A;
}

html {
    font-size: 62.5%;
    line-height: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main, footer {
    width: 95%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: 0 auto;
}

h1 {
    max-width: 465px;
    margin: 0 auto;
    margin-block-start: 32px;
    margin-block-end: 21px;
    /* margin: 32px 0 21px 0; */

    font-family: var(--font-Montserrat);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.9rem;
    color: var(--primary-text-color);
}

/*---------- Shopping Cart ----------*/

.shopping-cart {
    max-width: 383px;
    margin: 0 auto;
    padding: 27px;
    background-color: #F2F2F2;
    border-radius: 12px;
}

    .cart-product {
        display: grid;
        grid-template-columns: 1fr 1fr 3fr;
        grid-template-rows: repeat(2, 1fr) 2fr;
        margin-block-end: 28px;
    }

    .cart-product>img {
        width: 120px;
        grid-row: 1/4;
        margin-inline-end: 20px;
        border-radius: 13px;
    }

    .cart-product>h3 {
        grid-column: 2/4;

        font-family: var(--font-Montserrat);
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5rem;
        color: var(--primary-text-color);
    }

    .cart-product>p {
        grid-column: 2/3;
        margin-inline-end: 8px;

        font-family: var(--font-Montserrat);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.7rem;
        color: var(--orange-color);
    }

    .cart-product>s {
        grid-column: 3/4;

        font-family: var(--font-Montserrat);
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2rem;
        color: var(--primary-text-color);
    }

    .cart-product .number-input {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 80%;
        height: 50px;
        padding: 6px;
        grid-column: 2/4;

        border: 1px solid #828282;
        border-radius: 12px;
    }

        .number-input .quantity {
            width: 60%;
            justify-items: center;
            background-color: transparent;
            border: none;
            text-align: center;
        
            font-family: var(--font-Montserrat);
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 2rem;
        }

        .number-input>a {
            display: flex;
            justify-content: center;
            align-items: center;
        }

.cart-shipping {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    margin-block-start: 58px;
    border-block-start: 1px solid #BDBDBD;
}

.cart-shipping>p {
    font-family: var(--font-Montserrat);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7rem;
    color: #333333;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-block-start: 1px solid #BDBDBD;
}

.cart-total>p {
    font-family: var(--font-Montserrat);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7rem;
    color: #333333;
}


/*---------- Contact Infornaction ----------*/

form {
    margin: 0 auto;
}

.form-shopping {
    max-width: 465px;
    margin: 0 auto;
    margin-block-start: 40px;
}

.form-shopping h2 {
    margin-block-end: 12px;
    
    font-family: var(--font-Montserrat);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7rem;
    color: #333333;
}

.form-shopping input[type=text], 
.form-shopping input[type=email], 
.form-shopping input[type=tel] {
    width: 90%;
    height: 40px;
    padding-inline-start: 8px;

    border-inline-start: none;
    border: none;
    border-radius: 0 12px 12px 0;
    
    font-family: var(--font-Montserrat);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #828282;
}

.form-shopping label {
    display: block;
    margin-block-start: 16px;
    margin-block-end: 4px;
    
    font-family: var(--font-Montserrat);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    color: #4F4F4F
}

.contact-information {
    margin: 0 auto;
    margin-block-end: 45px;
}

.shipping-address {
    margin: 0 auto;
    margin-block-end: 16px;
}

.input-text {
    display: flex;
    max-width: 465px;
    max-height: 56px;
    align-items: center;
    border: 1px solid #828282;
    border-radius: 12px;
    
}

span.material-symbols-outlined {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 10%;
    height: 40px;

    font-size: 2.4rem;
    color: #828282;
}

.city-country {
    display: grid;
    max-width: 465px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 23px;
}

.city-country input[type=text] {
    width: 80%;
}

.city-country span.material-symbols-outlined {
    width: 20%;
}

form .checkbox {
    display: flex;
    align-items: center;
    margin-block-end: 20px;
    
    font-family: var(--font-Montserrat);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    color: #4F4F4F;
}

form input[type=checkbox] {
    display: block;
    margin-inline-end: 8px;
}

.shopping-button {
    display: flex;
    justify-content: flex-end;
}

.shopping-button button {
    width: 166px;
    height: 54px;
    margin-block-end: 94px;

    font-family: var(--font-Montserrat);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    color: white;

    background-color: var(--orange-color);
    border: none;
    border-radius: 12px;
}

/*---------- footer ----------*/

footer {
    margin-block-end: 24px;

    font-family: var(--font-Montserrat);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;

    color: #A9A9A9;
    
}

footer>a { 
    font-weight: bold;
    color: #A9A9A9;
}

@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3%;
    }

    h1 {
        width: 100%;
        margin-inline-start: 0;
        grid-column: 1/2;
        margin-block-end: 50px;

        font-size: 3.6rem;
        line-height: 4.4rem;
    }

    .shopping-cart {
        height: 450px;
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .form-shopping {
        grid-column: 1/2;
        grid-row: 2/3;

        margin-block-start: 0;
    }

    .contact-information>h2,
    .shipping-address>h2, 
    .cart-shipping>p, 
    .cart-total>p {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .form-shopping input[type=text], 
    .form-shopping input[type=tel],
    .shopping-cart input[type=number] {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .shopping-cart h3,
    .shopping-cart p {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .shopping-cart s,
    form .checkbox {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}